{{- define "main" }}
    {{- partial "sections/hero-slider.html"
        (dict
        "slides" .Site.Params.themes.event.heroSlides
        "context" .
        "startDate" .Site.Params.themes.event.startDate
        "location" .Site.Params.themes.event.location
        )
    }}

    {{ $eventStartDate := or .Site.Params.themes.event.startDate now | time }}
    {{ $eventEndDate := or .Site.Params.themes.event.endDate now | time }}
    {{ $dayInSeconds := 86400 }}
    {{ partial "sections/event-highlights.html" (
        dict
        "title" (T "cd_event_title")
        "subtitle" (T "cd_event_slogan")
        "description" .Site.Params.themes.event.description
        "logo" .Site.Params.themes.event.images.logo
        "numberOfSpeakers" 15
        "numberOfSessions" 12
        "numberOfWorkshops" 3
        "numberOfDays" 1
        "location" (T "cd_event_location") )
    }}

    {{- partial "sections/our-sponsors.html" . -}}

    {{ partial "sections/benefits.html" . }}

    {{- $featuredSpeakerIds := slice "eriktaveras" "darianvargas" "joseelias" }}
    {{- $featuredSpeakerList := slice }}
    {{- range (where .Site.Pages "Section" "speakers") }}
        {{- $id := .Params.speakerId | default "" }}
        {{- if in $featuredSpeakerIds $id }}
            {{- $featuredSpeakerList = $featuredSpeakerList | append (
                dict
                "profileUrl" .RelPermalink
                "avatarResource" (.Resources.GetMatch "avatar.*")
                "name" .Title
                "description" .Params.tagLine
                "linkedinUrl" .Params.linkedinUrl
                "xUrl" .Params.xUrl
                "companyUrl" .Params.companyUrl
                "instagramUrl" .Params.instagramUrl
                "websiteUrl" .Params.websiteUrl
                )
            }}
        {{- end }}
    {{- end }}

    {{- if gt ($featuredSpeakerList | len) 0 }}
        {{ partial "sections/featured-speakers.html" (
            dict
            "speakers" $featuredSpeakerList
            "speakersUrl" (.Site.GetPage "speakers").RelPermalink
            )
        }}
    {{- end }}

    {{- $cfpUrl := or .Site.Params.themes.event.callToActionSecondary.url "" }}
    {{- if $cfpUrl }}
        {{- partial "sections/cfp-banner.html" (
            dict
            "cfpUrl" $cfpUrl
            "cfpLabel" (or .Site.Params.themes.event.callToActionSecondary.label "Call for Papers")
            )
        }}
    {{- end }}

    {{- partial "sections/gallery.html" . -}}

    {{- partial "sections/testimonials.html" . -}}
{{- end }}
