{{ $input := . }}

{{- if $input.hashtag }}
    {{- $hashtag := $input.hashtag }}
    {{- $hashtag = replace $hashtag "á" "a" }}
    {{- $hashtag = replace $hashtag "é" "e" }}
    {{- $hashtag = replace $hashtag "í" "i" }}
    {{- $hashtag = replace $hashtag "ó" "o" }}
    {{- $hashtag = replace $hashtag "ú" "u" }}
    {{- $hashtag = replace $hashtag "ü" "u" }}
    {{- $hashtag = replace $hashtag "ñ" "n" }}
    {{- $hashtag = replace $hashtag "Á" "A" }}
    {{- $hashtag = replace $hashtag "É" "E" }}
    {{- $hashtag = replace $hashtag "Í" "I" }}
    {{- $hashtag = replace $hashtag "Ó" "O" }}
    {{- $hashtag = replace $hashtag "Ú" "U" }}
    {{- $hashtag = replace $hashtag "Ü" "U" }}
    {{- $hashtag = replace $hashtag "Ñ" "N" }}
    {{- $cleanHashtag := replaceRE "[^a-zA-Z0-9]" "" $hashtag }}
    {{- if $input.keepCase }}
        #{{ $cleanHashtag }}
    {{- else }}
        #{{ $cleanHashtag | upper }}
    {{- end }}
{{- end }}
