{{ define "main" }}
    {{ $event := .Site.Params.themes.event }}


    <div class="section-container" style="padding-bottom: 1.5rem;">
        <section class="section">
            <h1 class="heading heading--1" style="color: #ffffff;">
                {{- T "location_page.heading" }}
            </h1>

            {{ with $event.address }}
                <address class="location__address" style="color: #cbd5e1; font-weight: 500; font-size: 1.05rem; line-height: 1.6;">
                    {{ range $event.address }}
                        {{ . | markdownify }}
                        <br />
                    {{ end }}
                </address>
            {{ end }}
        </section>
    </div>

    {{- partial "map-embedding.html" (
        dict
        "embeddableMapUrl" $event.map.embeddableMapUrl
        "viewLargerMapUrl" $event.map.viewLargerMapUrl
        )
    }}

    {{ if .Content }}
    <div class="section-container">
        <section class="section">
            <div class="markdown">
                {{ .Content }}
            </div>
        </section>
    </div>
    {{ end }}

    {{- partial "sections/cta.html" (
        dict
        "eventbriteId" $event.callToAction.eventbrite.eventId
        "ctaUrl" $event.callToAction.other.url
        )
    }}
{{- end }}
