{{ $input := . }}

{{/* Ensure a unique ID for each label on the page. */}}
{{- if not (page.Scratch.Get "social_links_instance") }}
    {{- page.Scratch.Set "social_links_instance" 0 }}
{{- end }}
{{- $labelId := (printf "social-links-list-label-%d" (page.Scratch.Get "social_links_instance")) }}
{{- page.Scratch.Add "social_links_instance" 1 }}


<span id="{{ $labelId }}" class="sr-only">{{ $input.ariaLabel }}</span>

<ul class="social-links" aria-labelledby="{{ $labelId }}">
    {{- if $input.linkedinUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.linkedinUrl }}"
                aria-label="LinkedIn"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}

    {{- if $input.xUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.xUrl }}"
                aria-label="X (Twitter)"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fab fa-x-twitter" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}

    {{- if $input.facebookUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.facebookUrl }}"
                aria-label="Facebook"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}

    {{- if $input.companyUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.companyUrl }}"
                aria-label="Company"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fas fa-building" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}
    {{- if $input.instagramUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.instagramUrl }}"
                aria-label="Instagram"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}

    {{- if $input.websiteUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.websiteUrl }}"
                aria-label="Website"
                target="_blank"
                rel="noopener noreferrer external"
                class="social-links__link {{ $input.linkClass }}">
                <i class="fas fa-link" aria-hidden="true"></i>
            </a>
        </li>
    {{ end }}
</ul>
